<a href="https://colab.research.google.com/github/AndreiTugaoen/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Indention

In [ ]:
if 5>>2:
     print("5>>2")

5>>2

Python Comment

In [ ]:
#this is a comment
print("Hello, world")

Hello, world

Python Variable

In [ ]:
x = 1

#Single variable with multiple values
array = [1, 2, 3]
print (array)

#Multiple variables with single value

a = b = c = "Andrei"
print(a)
print(b)
print(c)

[1, 2, 3]
Andrei
Andrei
Andrei

Python Variable Name

In [11]:
person_a = "Andrei"
print (person_a)

Andrei

Casting

In [ ]:
n = int(4)
print(n)

4

Type() Function

In [36]:
c = "Andrei"
d = 5, 6

print(type(c))
print(type(d))

<class 'str'>
<class 'tuple'>

Double quotes or Single quotes

In [39]:
y = "John"
y = 'John'

Case sensitive

In [34]:
a = 4
A = "Sally"
#A will not overwrite a

Multiple Variables

In [10]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [14]:
x = y = z = "one"
print(x)
print(y)
print(z)

one
one
one

Output Variables

In [19]:
x = "enjoying"
print("Python programming is " + x)

#Other way
x = "Python is "
y = "enjoying"
z = x+y
print(z)

Python programming is enjoying
Python is enjoying

Arthmetic Operations

In [21]:
x = 5
y = 3
print(x*y)

x = 5
y = 3
sum = x*y
sum

15

15

Assignment Operations

In [23]:
a,b,c=0, -1, 6
c+= 3 
c

9

Comparison Operators

In [26]:
x = 5
y = 4
print(x == y)

x = 5
y = 4
sum = x==y
sum

False

False

Logical Operators

In [27]:
a,b,c = 0, -1, 6
a>b and c>b
True

True

Identity Operators

In [30]:
a, b, c = 0, -1, 5
a is c 
False

False