<a href="https://colab.research.google.com/github/AndreiTugaoen/OOP-58001/blob/main/List%2C_Tuple%2C_and_Set_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Functions

In [ ]:
class Shapes:
  def __init__(self,length, width):
    self.length = length
    self.width = width
  def area(self):
    return self.length * self.width

rectangle = Shapes(10,5)
rectangle.area()

50

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
  def me(self):
   return "My name is" + self.name + " and my age is" + self.age

PersonName = Person(" Andrei R. Tugaoen" , " 18")
PersonName.me()

'My name is Andrei R. Tugaoen and my age is 18'

In [ ]:
pi = 3.14159
varList = ['abc', 1, 'def', 2]
print(varList[0])

varList.append('ghi')
print(varList)
varList.remove(2)
print(varList)
varList.insert(3,3)
print(varList)

abc
['abc', 1, 'def', 2, 'ghi']
['abc', 1, 'def', 'ghi']
['abc', 1, 'def', 3, 'ghi']

Dictionaries

In [ ]:
students = {
            1:"ana", 
            2:"billy",
            3:"jeff",
            4:"joy",
            3:"messy",
}
print(students)

{1: 'ana', 2: 'billy', 3: 'messy', 4: 'joy'}