<a href="https://colab.research.google.com/github/AndreiTugaoen/OOP-58001/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop

In [8]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", 'Saturday']

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Break Statement

In [12]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", 'Saturday']
for x in week:
  if x == "Thursday":
    break
  print(x)        #It displays from Sunday to Wednesday

Sunday
Monday
Tuesday
Wednesday

In [13]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", 'Saturday']
for x in week:
  if x == "Thursday":
    print(x)      #It only displays Thursday
    break

Thursday

In [ ]:
#To display only Tuesday and Wednesday using break statement

for x in week:
  if x ==":      
    break
  print(x)

Looping through a string

In [23]:
for x in "HOTDOG":
  print(x)

H
O
T
D
O
G

Nested Loops

In [27]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While Loop

In [32]:
i = 1 
while i<=6:
   print(i)
   i += 1

1
2
3
4
5
6

The Break Statement

In [44]:
#Using Break Statement 
i = 1
while i < 6:
  print(i)         
  if i == 3:
    break
  i += 1

1
2
3

In [40]:
i = 1
while i < 6:
  if i == 3:
    print(i)          #Print only 3
    break
  i += 1

3

The Else Statement

In [42]:
i = 1
while i<6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Application 1

In [46]:
i = 1 
while i <= 10:
  print("Hello" , i)
  i += 1

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Application 2

In [54]:
i = 9

while i >= 3:
  print(i)
  i -= 1

9
8
7
6
5
4
3